%h1 Sample#index

%div#main
  %div#canvas
  %div
    %button#submit OK

  %div(data-bind="with: result")
    %div#output(data-bind="foreach: files")
      %div(data-bind="text: name")
      %textarea(data-bind="text: content")

:coffee
  $ ->
    GoodParts.ViewController.GenerateViewController
      main: 'main'
      canvas: 'canvas'
      submit: 'submit'
      output: 'output'
    .start()
