%h1 Sample#index

%div#main
  %div#canvas
  %div
    %button#submit OK

  %div(data-bind="with: result")
    %div#output(data-bind="foreach: files")
      .result-filename(data-bind="text: name")
      %pre(data-bind='text: content, attr: {class: highlight_class()}')

:coffee
  $ ->

    GoodParts.ViewController.GenerateViewController
      main: 'main'
      canvas: 'canvas'
      submit: 'submit'
      output: 'output'
    .start()
    SyntaxHighlighter.all()