%div#main
  %div(data-bind="text: message")

  %div(data-bind="foreach: controllers")
    %div
      %a(data-bind='attr: {href: url}, text: name')

:coffee
  $ ->
    GoodParts.ViewController.IndexViewController
      main: 'main'
    .start()
