%div#main
  %div.error(data-bind="text: message, visible: message")

  %div(data-bind="visible: isGeneratorFound")
    %div#canvas
    .global-control
      %button.btn.btn-primary(data-bind="click: onGenerate") Generate!
      %button.btn(data-bind="click: onSerialize") Save
      %button.btn(data-bind="click: onDeserialize") Load

  %div#graph_canvas

  .result(data-bind="with: result")
    %div#output(data-bind="foreach: files")
      %div(data-bind="visible: is_src")
        %span.result-filename(data-bind="text: name")
        %a(data-bind="attr: {href: $root.downloadURL($data), download: name}" target="_blank") download(Chrome以外では右クリックで名前を付けて保存してください)
        %pre(data-bind='text: content, attr: {class: highlight_class(), id: name}' contenteditable="true" )
      %div(data-bind="visible: is_img")
        %div()

:coffee
  $ ->
    GoodParts.ViewController.GenerateViewController
      main: 'main'
      canvas: 'canvas'
      output: 'output'
    .start()
