/*
 *= require syntax-highlighter-rails/shCore
 *= require syntax-highlighter-rails/shThemeDefault
 */

.result-filename {
  font-size: large;
  background: lavender;
  padding: 4px;
}

.global-control {
  margin-top: 10px;
}

.result {
  margin-top: 30px;
}

