!!!
%html
  %head
    %title GoodParts2
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-top
      .navbar-inner
        .container
          %ul.nav
            %li
              %a(href="/")Genarator List
            %li
              %a(href="/download/smc")Download
    .row-fluid
      .span1
      .span11
        = yield
